:root {
    --cor-fundo: rgb(144, 232, 173);
    --cor-primaria: rgb(107, 189, 134);
    --cor-primaria-hover: rgb(87, 155, 109);
    --cor-texto: rgb(15, 33, 22);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}